<div class="mb-3">
  <h1 class="mb-0">
    Questions
  </h1>
  <div class="text-muted">
    All student created questions.
  </div>
</div>


<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @questions_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               extra_columns: [{ user: :given_name }, { question_state: :state }, { tags: :name }],
               except: [:title, :notes, :user_id, :course_id, :discarded_at, :enrollment_id],
               actions: [:download],
               other_filters: {
                 user: User.column_names.excluding("id", "created_at", "updated_at", "provider", "uid"),
                 enrollment: Enrollment.column_names.excluding("id", "created_at", "updated_at", "provider", "uid"),
                 question_state: QuestionState.column_names.excluding("updated_at", "id", "question_id", "user_id")
               }
             }
           } %>