<h1> Previous Questions </h1>



<%= turbo_frame_tag :container  do %>

  <%= render partial: "shared/search_form",
             locals: {
               records: @records,
               ransack: @questions_ransack,
               course: @course,
               pagy: @pagy,
               options: {
                 extra_columns: [{ user: :given_name},{question_state: :state}, {tags: :name}],
                 except: [:title, :notes, :user_id, :course_id, :discarded_at, :enrollment_id],
                 actions: [:download],
                 other_filters: {
                   user: User.column_names.excluding("id", "created_at", "updated_at", "provider", "uid"),
                   current_state: QuestionState.column_names.excluding("created_at", "updated_at", "id", "question_id", "user_id")
                 }
               }
             } %>

<% end if request.headers.key? "Turbo-Frame"  %>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @questions_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               extra_columns: [{ user: :given_name},{question_state: :state}, { tags: :name}],
               except: [:title, :notes, :user_id, :course_id, :discarded_at, :enrollment_id],
               actions: [:download],
               other_filters: {
                 user: User.column_names.excluding("id", "created_at", "updated_at", "provider", "uid"),
                 current_states: QuestionState.column_names.excluding("created_at", "updated_at", "id", "question_id", "user_id")
               }
             }
           } unless request.headers.key? "Turbo-Frame" %>