<div class="mb-3">
  <h3 class="mb-0">
    New Dashboard
  </h3>
  <div class="text-muted">
    The only currently supported integration is with Metabase. You can directly sync, and embed dashboards created
    at your course's page at <a href="https://metabase.cmqueue.xyz"> Metabase.</a>
    The "Metabase" option will directly sync, and allow you to choose any of the dashboard's rooted at your course's
    folder.
  </div>
</div>

<%= render 'form', analytics_dashboard: @dashboard_form %>
