

<div class="d-flex justify-content-center container mt-4">

  <div
    style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 5%;
    justify-items: center;"
       class="d-grid w-100"
  >
    <div class="w-100 mb-3">
      <h1 class="mb-3 text-nowrap">
        Student Courses
      </h1>
      <div id='enrollment-cards'>

        <%= content_tag :div, id: "hello-react", data: {
          userId: current_user.id,
        }.to_json do %><% end %>
      </div>
    </div>
    <div class="w-100">
      <h1 class="mb-3 text-nowrap">
        Instructor Courses
      </h1>

      <%= content_tag :div, id: "add-course-by-code", data: {
        userId: current_user.id,
      }.to_json do %><% end %>
    </div>
  </div>
</div>