<h1>
  Settings
</h1>

<hr>

<div class="shadow-sm">
  <ul class="list-group">
    <%= render(Users::Settings::DesktopNotificationComponent.new(setting: current_user
      .setting("notifications"),
                                                                 record: current_user, options: {
        path: account_setting_path(current_user
                                     .settings
                                     .with_key("notifications")
                                     .first)
      }))
    %>
  </ul>
</div>