<h1> Messages </h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @messages_ransack,
             course: @course,
             pagy: @pagy,
           } %>