<%= link_to polymorphic_path([:search, course, resources], build_parameters(category, bucket["key"])),
            class: build_class(category, bucket["key"]),
            "data-turbo-frame": "_self" do %>
<div class="d-flex">
  <%= "#{bucket["key"]}" %>
  <div style="flex: 1"></div>
  <span class="badge bg-secondary"><%= bucket["doc_count"] %></span>
</div>
<% end %>
