<h1>
  <%= @course.name %>
</h1>
<hr>

<div
  style="display: flex; flex-direction: column; align-items: center" class="w-100">

  <%= render(Courses::StaffInfoPanelComponent.new(course: @course)) %>

  <div class="w-100"
       data-controller="turbo-refresher"
       data-turbo-refresher-event-name-value="invalidate:question-feed">
    <turbo-frame id="feed" class="w-100" data-turbo-refresher-target="frame" src="<%= feed_course_path(@course) %>">
      <%= render(Courses::Feed::FeedComponent.new(course: @course,
                                                  questions: @questions,
                                                  current_user: current_user,
                                                  pagy: @pagy)) %>
    </turbo-frame>
  </div>
</div>
