<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hey, <%= @user.given_name %>,
</p>

<p>
  Attached are the certificates, and key in which you will need to connect to the database.
  Please keep the <b> client.key </b> safe. If it is compromised, then any other person can use
  it to access your data.
</p>
<p>
  Sincerely,
  <br>
  CMQueue Staff
</p>
</body>
</html>
