<div class="card">
  <div class="card-body">
    <h3>
      Audit Logs
    </h3>

    <p>
      This consists of a record of each action taken upon this enrollment, by a user at the specified
      time.
    </p>

    <% if @enrollment.versions.blank? %>
      <div class="alert alert-warning">
        No Logs
      </div>
    <% else %>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Type of Action</th>
          <th scope="col">By Whom</th>
        </tr>
        </thead>
        <tbody>
        <% @enrollment.versions.order(created_at: :desc).each_with_index do |version, i| %>
          <%= render(Courses::Enrollments::AuditLogs::EntryComponent.new(log: version, index: i)) %>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>