<%= tag.div class: "alert alert-warning shadow-sm d-flex justify-content-center align-items-center",
            style: "height: 110px" do %>
  <h4 class="fw-bold">
    No Enrollments
  </h4>
<% end if enrollments.empty? %>

<% enrollments.each do |enrollment| %>
  <div class="mb-2">
    <%= render(Users::Enrollments::EnrollmentComponent.new(enrollment: enrollment)) %>
  </div>
<% end %>
