<div class="mb-3">
  <h1 class="mb-0">
    Tag Groups
  </h1>
  <div class="text-muted">
    Cluster tags into required groups that a student will need to require at least one tag from
    in order to create a question.
  </div>
</div>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @tag_groups_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [:edit, :new, :destroy],
               extra_columns: [{ tags: :name}],
               except: [:course_id, :course, :discarded_at, :validations],
               format: [:name, :description],
             }
           } %>

