<div class="card card-body shadow-sm" style="height: 400px; width: 500px">
  <canvas id="total-questions-asked" style="height: 100%; width: 100%"></canvas>
</div>
<script>
  new Chart(document.getElementById("total-questions-asked").getContext("2d"), {
    type: "bar",
    data: {
      labels: <%== enrollments_with_questions.map{|v| v.course_name} %>,
      datasets: [{
        label: "Questions Asked Per Course",
        data: <%== enrollments_with_questions.map{|v| v.count} %>,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,

          ticks: {
            beginAtZero: true,
            callback: function(value) {if (value % 1 === 0) {return value;}}
          }
        }
      }
    }
  });
</script>