<div class="container mt-4">
  <h2>
    Admin Settings
  </h2>
  <div class="card">
    <div class="card-body">
      <%= button_to "Go To Courses", courses_path, method: :get, class: 'btn btn-primary' %>
    </div>
  </div>
</div>