<h1>
  Settings
</h1>

<hr>
<div class="shadow-sm">
  <ul class="list-group">
    <% @settings.each do |setting| %>
      <%= render(Shared::SettingComponent.new(setting: setting, record: @course)) %>
    <% end %>
  </ul>
</div>
