<h1> Users </h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @users_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               except: [:course_id, :user_id, :role_id, :id, :provider, :uid],
             }
           } %>