<h3>
  <%= User.name.humanize %>
</h3>

<%= render partial: "shared/show_model",
           locals: {
             model_instance: @user,
             options: {
               except: [
                 :uid, :provider, :course, :access_tokens, :access_grants,
                 :courses, :roles, :enrollments, :question_states,
                 :question_state, :notifications, :settings, :created_at, :updated_at
               ]
             }
           }
%>