<div class="card shadow-sm">
  <div class="card-body">
    <div class="card-title">
      <h4>
        <%= @user.full_name %>
      </h4>
    </div>
    <hr>
    <div class="mb-2">
      <label class="fw-bold"> Email </label>
      <div>
        <%= @user.email %>
      </div>
    </div>
  </div>
</div>
