<%= render partial: "shared/back_navbar" %>


<h2>
  <b>
    <%= User.name.humanize %>
  </b>
</h2>

<%= render partial: "shared/show_model",
           locals: {
             model_instance: @user,
             options: {
               except: [
                 :uid, :provider, :course, :access_tokens, :access_grants,
                 :courses, :roles, :enrollments, :question_states,
                 :question_state, :notifications, :settings
               ]
             }
           }
%>