<div class="flash-messages shadow-sm"
     style="top: 10px; left: 50%; transform: translateX(-50%); z-index: 10000">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> mb-0">
      <div class="alert-body">
        <%= value %>
      </div>
    </div>
  <% end %>
</div>
