

<h3>
  New <%= model.class.name %>
</h3>

<div class="card">
  <div class="card-body">
    <%= render partial: "shared/new_form", locals: { model_instance: model, options: options } %>
  </div>
</div>