<%= render layout: "shared/sidebar" do %>
  <li class="d-flex align-items-center">
    <div style="width: 16px" class="d-flex justify-content-center">
      <i class="fas fa-cog"></i>
    </div>
    <%= button_to "Account", user_path(current_user),
                  class: "btn text-decoration-none #{["users"].include?(controller_path) ? "active-link" : ""}", method: :get %>
  </li>
  <li class="d-flex align-items-center">
    <div style="width: 16px" class="d-flex justify-content-center">
      <i class="fas fa-cog"></i>
    </div>
    <%= button_to "Settings", user_settings_path(current_user),
                  class: "btn text-decoration-none #{(request.path == user_settings_path(current_user)) ?
                                                       "active-link" : ""}", method: :get %>
  </li>
<% end %>
