<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>


<%= form_with url: user_settings_path(current_user), method: :patch do |f| %>

  <ul class="list-group">
  <% @settings.each do |setting| %>
    <% case setting.setting_type %>
    <% when "boolean" %>
        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
          <%= f.label setting.key, class: "form-check-label" %>
          <%= f.check_box setting.key, {checked: setting.value == "true", class: "form-check-control" }%>
        </li>
    <% end %>
  <% end %>
  <%= f.submit :Update, class: "btn btn-primary", style: "width: min-content"%>
  </ul>

<% end %>