<h1> Question States </h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @question_states_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [],
               extra_columns: [{ user: :given_name}],
             }
           } %>