<h1> Enrollments </h1>


<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @enrollments_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [:download, :import, :new, :destroy],
               except: [:course_id, :user_id, :role_id, :id, :semester_id, :discarded_at],
               extra_columns: [{ user: :given_name }, { user: :family_name }, { role: :name }],
               other_filters: {
                 role: Role.column_names.excluding("id", "resource_type", "resource_id", "created_at", "updated_at"),
                 user: User.column_names.excluding("id", "created_at", "updated_at", "provider", "uid")
               }
             }
           } %>