<h1> Users </h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @enrollments_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               except: [:course_id, :user_id, :role_id, :id],
               extra_columns: [{user: :given_name}, {role: :name}]
             }
           } %>