
<%= render partial: "shared/back_navbar" %>


<h2>
  <b>
    <%= Enrollment.name.humanize %>
  </b>
</h2>

<%= render partial: "shared/show_model",
           locals: { model_instance: @enrollment, options: { except: [:uid, :provider] }}
%>