<div class="ui container">
  <div class="ui segment">
    <h1>
      Courses
    </h1>

    <div style="display: grid; grid-template-columns: 1fr 1fr; justify-items: center; align-items: center; max-width: 800px">
      <div>
        <h1>
          Student Courses
        </h1>


        <div id='student-courses'>
          <%= content_tag :div,
                          id: "hello-react",
                          data: {
                            message: 'Hello!',
                            name: 'David',
                          }.to_json do %>
          <% end %>
          <div id='student-courses-cards'>
            <%= render partial: 'shared/course_card', collection: @courses, as: :course %>
          </div>
        </div>
      </div>
      <div>
        <h1>
          Instructor Courses
        </h1>
        <a href=""
           class="ui card"
           data-controller="course-search-button"
           data-action="click->course-search-button#click">
          <div class="content">
            <div class="header" style="display: flex; justify-content: center;">
              <i class="fas fa-plus fa-2x"></i>
            </div>
          </div>
        </a>
        <div>
          <%= render partial: 'shared/course_card', collection: @courses, as: :course %>
        </div>
      </div>
    </div>
  </div>
</div>