<div class="mb-3">
  <h1 class="mb-0">
    Tags
  </h1>
  <div class="text-muted">
    Create tags that allow the labelling and categorization of questions.
  </div>
</div>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @tags_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [:edit, :new, :destroy, :download, :import],
               extra_columns: [{ tag_groups: :name }],
               except: [:course_id, :course, :discarded_at, :tag_group_id, :group_members],
               format: [:name, :description],
               other_filters: {
                 course: Course.column_names.excluding("id", "created_at", "updated_at", "provider", "uid"),
               }
             }
           } %>

