<h1> Tags </h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @tags_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [:edit, :new, :destroy],
               except: [:course_id, :id],
             }
           } %>

<% content_for :nav_content do %>
  Tags
<% end %>