<h1>
  Tags
</h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @tags_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [:edit, :new, :destroy, :download, :import],
               except: [:course_id, :course, :discarded_at],
               format: [:name, :description]
             }
           } %>

