<h1>
  Tags
</h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @tags_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               actions: [:edit, :new, :destroy, :download, :import],
               extra_columns: [{ tag_group: :name}],
               except: [:course_id, :course, :discarded_at, :tag_group_id],
               format: [:name, :description],
               other_filters: {
                 course: Course.column_names.excluding("id", "created_at", "updated_at", "provider", "uid"),
               }
             }
           } %>

