
<%= render partial: "shared/back_navbar" %>


<h2>
  <b>
    <%= Tag.name.humanize %>
  </b>
</h2>

<%= render partial: "shared/show_model", locals: {
  model_instance: @tag,
  options: { actions: [:edit, :delete]}
} %>