<h3>
  <%= Role.name.humanize %>
</h3>


<%= render partial: "shared/show_model",
           locals: {
             model_instance: @role,
             options: {
               except: [:course, :course_id, :resource, :resource_id, :resource_type],
             }
           } %>