<h2>
  <b>
    <%= Role.name.humanize %>
  </b>
</h2>


<%= render partial: "shared/show_model",
           locals: {
             model_instance: @role,
             options: {
               except: [:course, :course_id, :resource, :resource_id, :resource_type],
             }
           } %>