<div class="container-fluid h-75">
  <%= render partial: "shared/course_navbar" %>

  <iframe
    src="http://office-hours-01.andrew.cmu.edu:3010/public/question/9503798b-6bc7-4386-b41f-bbf59cb3fec4"
    frameborder="0"
    class="w-100 h-100"
  ></iframe>
</div>