<h1> Course </h1>

<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <h2>
        Documentation
      </h2>
    </div>
    <%= link_to "API", "http://localhost:3000/swagger" %>
  </div>
</div>

<%= render partial: "shared/show_model",
           locals: {
             model_instance: @course,
             options: {
               except: [:course_code, :student_code, :id, :course_id],
               actions: [:edit]
             }
           } %>