<h1> Courses </h1>

<%= render partial: "shared/search_form",
           locals: {
             records: @records,
             ransack: @courses_ransack,
             course: @course,
             pagy: @pagy,
             options: {
               extra_columns: [],
               except: [:student_code, :ta_code, :instructor_code, :course_code],
               actions: [:edit, :new],
               other_filters: {
               }
             }
           } %>