/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "../node_modules/bootstrap/scss/functions";


$primary: #24527A;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


$modal-fade-transform: scale(.7);
$font-family-sans-serif: 'Inter';
$toast-background-color: rgba($white, 1.0);

@import "bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
//@import "font-awesome";

.bg-ta {
  background-color: #1C5D99;
}

.bg-student {
  background-color: #E69A0C;
}

.bg-lead-ta {
  background-color: #3083DC;
}

.bg-instructor {
  background-color: #034C3C;
}

.ta-card {

}

.instructor-card {

}

.lead-ta-card {

}

.student-card {

}

.dropdown-menu {
  min-width: 100%
}

.filter-input {
  max-width: 120px;
  width: 100%;
}

.card-footer-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 250px));
  column-gap: 5px;
  row-gap: 5px;
}

.recharts-legend-item-text {
  font-weight: bolder;
}

.frozen-card {
  border: 2px solid #2185D0;
}

:root {
  --frozen: #2145D0;
  --resolved: #19b754;
  --unresolved: rgb(70, 70, 70);
}

.bg-frozen {
  background-color: var(--frozen);
}

.toast-container {
  z-index: 10010;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.err {
  border-color: #dc3545;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

html, body {
  height: initial !important;
  scroll-behavior: auto !important;
}


.shim {
  min-width: 200px;
  width: 200px;
  max-width: 200px
}

#courses-container {
  width: 100vw;
}

.filter-row {
  display: flex;
}

.filter-row > div {
  margin-right: 1rem;
  margin-bottom: 1em;
}

.sidebar-opener {
  z-index: 10;
  position: fixed;
  transform: translateX(-200px);
  transition: transform .5s ease;
}

.sidebar {
  transition: transform .5s ease;
}

@media (max-width: 768px) {


  .sidebar-opener {
    display: block;
    transform: translateX(201px);
  }

  .sidebar-opener.open {
    transform: translateX(200px);
  }
  .sidebar {
    transform: translateX(-200px);
    width: max-content;
  }
  .sidebar.open {
    transform: translateX(0px);
  }


  .card-footer-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
  }

  .filter-row {
    flex-direction: column;
  }

  .filter-row > div {
    width: 100%;
    margin-right: 0;
  }

  .shim {
    min-width: 0px;
    width: 0px;
    padding: 0px !important;
  }
  .shim.open {
    min-width: 200px;
    width: 200px;
    padding: 1rem !important;
  }
}

a {
  text-decoration: none !important;
}

//noinspection CssUnknownTarget
.centered-modal {
  display: flex !important;
  align-items: center;
  justify-content: center
}

.ui.search > .ui.input {
  width: 100% !important;
}

.flex-1 {
  flex: 1 !important;
}

.queue-button {
  font-size: 30px;
  height: 70px;
}

html, body {
  height: 100%;
}


.hover-container {
  color: inherit;
  transition: .1s;
  width: 100%;
  height: 100%;
}

.hover-container:hover {
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  transform: translateY(-4px) translateX(-4px);
}

.elipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.active-link {
  font-weight: bold;
}

.checkbox-1x {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
}
