<h1>Editing Analytics Dashboard</h1>

<%= render 'form', analytics_dashboard: @dashboard %>

<%= link_to 'Show', course_analytics_dashboard_path(@course, @dashboard) %> |
<%= link_to 'Back', course_analytics_dashboards_path %>
