<div class="mb-3">
  <h1 class="mb-0">Dashboards</h1>
  <div class="text-muted">
    Integrate analytics dashboards to get better insights on your data.
  </div>
</div>

<turbo-frame id="dashboards" src="<%= analytics_metabase_dashboards_path(course_id: @course) %>">
  <div class="w-100 d-flex justify-content-center">

    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</turbo-frame>
