<% content_for :content do %>
  <div style="display: flex; flex-direction: row; height: max-content; overflow: clip">
    <% if current_user.has_role? :ta, @course %>
      <%= render partial: "shared/course_sidebar" %>
      <% end %>
    <div id='courses-container' class="container w-100 mt-4 mb-5" style="min-height: 100vh">
      <%= content_for?(:courses_content) ? yield(:courses_content) : yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>